.profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile img {
  border-radius: 50%;
  width: 150px; /* Set width as needed */
  height: 150px; /* Set height to maintain aspect ratio */
}

.profile h1 {
  font-size: 2.5rem; /* Adjust for larger screens */
}

@media (max-width: 768px) {
  .profile h1 {
    font-size: 2rem; /* Adjust for medium screens */
  }
}

@media (max-width: 480px) {
  .profile h1 {
    font-size: 1.5rem; /* Adjust for small screens */
  }
}